.main2 {
    background-image: url('https://i.ibb.co/CMQ31s9/Summer-img.png');
    height: 116.2vh;
    overflow: hidden;
    background-size: cover;
    position: relative;
    width: 1349px;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.2);
        z-index: 2;
    }
    .choise2  {
        display: flex;
        justify-content: center;
    }
    
    button {
        width: 120px;
        align-items: center;
        height: 45px;
        margin: calc(117vh - 200px) 20px 0 0;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #fff;
        color: #fff;
        text-transform: uppercase;
        transition: .3s ease-in-out;
        z-index: 5;
        &:hover {
            background-color: #fff;
            color: #000 !important ;
        }
        &:hover a {
            color: #000;
        }
        &:last-child{
            background: #fff;
            color: #000;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    
    
}
.second2 {
    // height: 20vh;
    .HR2 {
        z-index: 0;
        position: relative;
        position: relative;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
        }
        p {
            margin: 0;
            z-index: 1px;
            align-items: center;
            position: absolute;
            top: 40px;
            width: 700px;
            text-align: center;
        }
    }
}



.hb2 {
    // height: 200px;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.tours2 {


    
    h2{
        // height: auto ;
        text-align: center;
        width: 500px;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 400;
    }
    .tour_list2{
        display: flex;
        justify-content: center;

        .overlay__left2 {
            text-decoration: none;
            position: absolute;
            top: 100em;
            left: -85px;
            span{
                color: #000;
            }
            h2{
                color: #fff;
                font-size: 56px;
                letter-spacing: 15px;
            }
        }

        .left_images2 img {
            width: 450px;
            padding: 20px 0;
        }
        .right_images2 {
            height: 750px;
            width: 700px;
            display: grid;
            justify-content: center;
            padding: 20px 0 ;
            grid-template-columns: 300px 300px;
            grid-gap: 0 10px ;
            text-align: center;
            img {
                width: 290px;
            }
            p,a {
                text-align: center;
                text-decoration: aquamarine;
                text-align: center;
                text-decoration: none;
                color: #000;
                margin: 0;
                :hover {
                    color: rgb(212, 196, 130);
                }
            }
        }
    }
    
}